* {
	font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.dog-icon {
	height: 50px;
  padding: 7px;
  padding-left: 20px;
}

h1 {
	color: #fff;
	margin: auto;
  position: relative;
  top: 15px;
}

.bold,
.hlinks a,
h2 {
  font-weight: 700;
}

header a:hover {
color: #2c6d8e;
}

h3 {
	color: white;
	margin: auto;
}

.name1 {
  bottom: -20px;
  color: white;
  font-weight: bolder;
  left: -162px;
  position: relative;
}

.art1, 
.art2, 
.art3 {
  display: inline-block;
  padding: 20px;
  vertical-align: top;
  width: 270px;
}

body {margin: auto;}

.dogpic {
  border-radius: 50%;
  border: 5px solid #048eaa;
  height: 175px;
}

.main .dogpic {
  position: relative;
  top: 35px;
}

header {
	background-color: #75e2e6;
	border-bottom: solid;
  border-color: #048eaa;
}

.hlinks {
	display: inline-block;
	float: right;
	font-weight: bold;
	padding-top: 7px;
}

.main, 
.middle {
	position: relative;
	text-align: center;
}

article p {
  font-weight: 700;
  text-align: left;
}

.button-how {
  position: relative;
  top: 23px;
}

.button-facts {
  position: relative;
  top: 43px;
}

section button {
  margin-top: 20px;
}

section {
  padding-bottom: 25px;
}

li {
	display: inline-block;
	margin-right: 20px;
}

a, a:link, a:visited {
  color: black;
  text-decoration: none;
}

.dogname {
  bottom: -10px;
  font-size: 20px;
  height: 40px;
  padding-left: 10px;
  position: relative;
  width: 360px;
}

.main {
  background-image: url(images/park1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  height: 450px;
}

.form {
  position: relative;
  bottom: -25px;

}

.button1 {
  background-color: #75e2e6;
  font-size: 1.1em;
  font-weight: bold;
  height: 48px;
  margin-top: 30px;
  width: 374px;
}

.buttons {
  background-color: #048eaa;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  height: 50px;
  width: 100%;

}

footer {
  background-color: #048eaa;
  height: 150px;
  padding-top: 50px;
  position: relative;
  text-align: center;
}

.imglinks {
	padding: 8px;
}

@media only screen and (max-width: 500px) {
  header {
    height: 130px;
  }

  .hlinks li {
    display: block;
    padding-bottom: 10px;
  }

  main {
    height: 500px;
  }

  h1 {
    display: inline-block;
    width: 90%;
  }

  .name1 {
    left: -110px;
    position: relative;
  }

  .dogname {
    width: 80%;
  }

  .button1 {
    width: 84%;
  }

  .middle {
    margin-bottom: 25px;
  }
}
